<div class="grid-x grid-padding-x small-up-1 medium-up-2 large-up-2">

{{#if couple}}
  {{#each messages}}
    <div class="cell">
      <div class="card-user-profile">
        <img class="card-user-profile-img" src="https://images.pexels.com/photos/5439/earth-space.jpg?h=350&auto=compress&cs=tinysrgb" alt="picture of space" />
        <div class="card-user-profile-content card-section">
          {{#if image}}
          {{/if}}
          <div class="card-user-profile-avatar">
            <img src="https://pbs.twimg.com/profile_images/422887689612820482/sZtHMJu5.png" alt="picture of yeti" />
          </div>
          <p class="card-user-profile-name">{{fullname}}</p>
          <p class="card-user-profile-status">{{allevents}}</p>
          {{#if message}}
          <p class="card-user-profile-info">
            The Yeti, once better known as the Abominable Snowman, is a mysterious bipedal creature said to live in the mountains of Asia. It sometimes leaves tracks in snow, but is also said to dwell below the Himalayan snow line.
          </p>
          {{/if}}
        </div>

        <div class="card-user-profile-actions">
          <a href="#" class="card-user-profile-button button hollow">Guests {{numguest}}</a>
          <a href="#" class="card-user-profile-button button hollow">Attending: {{attending}}</a>

        </div>
        <div class="card-user-profile-actions">
          {{!-- push email adress so client javascript can parse...
            {{email}} 
           --}}
          <a href="#" class="card-user-profile-button button hollow success">Send Invitation</a>
          <a href="#" class="card-user-profile-button button hollow alert">Decline</a>
        </div>
      </div>
    </div>
  {{/each}}
  {{else}}
    <form action="" class="cell">
      <div class="card-user-profile">
          {{#if couple}}
          {{else}}
          <img class="card-user-profile-img" src="https://images.pexels.com/photos/5439/earth-space.jpg?h=350&auto=compress&cs=tinysrgb" alt="picture of space" />
          {{/if}}

          <div class="card-user-profile-content card-section">
            <div class="card-user-profile-avatar">
              <img src="../../public/assets/img/four/groom.png" alt="picture of yeti" />
              <label for="exampleFileUpload" class="button">Upload File</label>
              <input type="file" id="exampleFileUpload" class="show-for-sr" name="partner_image" accept=".jpg, .jpeg, .png"   multiple>

            </div>
            <p class="card-user-profile-name">
                <div class="form-floating-label">
                  <input type="email" id="email" name="email" required>
                  <label for="email">
                    {{#if name}}
                      {{name}}
                    {{else}}
                      Name
                    {{/if}}
                  </label>
                </div>
            </p>
            <p class="card-user-profile-status">
                <div class="form-floating-label">
                    {{#if name}}
                      <textarea data-tooltip aria-haspopup="true" class="has-tip" data-disable-hover="false" tabindex="1" title="{{description}}" data-alignment="bottom">
                      </textarea>
                    {{else}}
                        
                      {{!-- 
                        <textarea data-tooltip aria-haspopup="true" class="has-tip" data-disable-hover="false" tabindex="1" title="The Yeti, once better known as the Abominable Snowman, is a mysterious bipedal creature said to live in the mountains of Asia. It sometimes leaves tracks in snow, but is also said to dwell below the Himalayan snow line." data-position="bottom" data-alignment="bottom">

                      <textarea name="" id="" rows="5" placeholder=""></textarea>
                      <label for="textarea">The Yeti, once better known as the Abominable Snowman, is a mysterious bipedal creature said to live in the mountains of Asia. It sometimes leaves tracks in snow, but is also said to dwell below the Himalayan snow line.</label> --}}
                    {{/if}}
                </div>
            </p>
          </div>
          {{!-- Submit / Edit --}}
          <div class="card-user-profile-actions">
              <select class="card-user-profile-button button hollow secondary">
                <option class="button" value="husker">Groom</option>
                <option class="button" value="starbuck">Bride</option>
                <option class="button" value="hotdog">Partner</option>
              </select>
          </div>         
          <div class="card-user-profile-actions">
            <a href="#" class="card-user-profile-button button hollow">Edit</a>
          </div>
      </div>
    </form>
    <form action="" class="cell">
      <div class="card-user-profile">
          {{#if couple}}
          {{else}}
          <img class="card-user-profile-img" src="https://images.pexels.com/photos/5439/earth-space.jpg?h=350&auto=compress&cs=tinysrgb" alt="picture of space" />
          {{/if}}

          <div class="card-user-profile-content card-section">
            <div class="card-user-profile-avatar">
              <img src="../../public/assets/img/four/groom.png" alt="picture of yeti" />
              <label for="exampleFileUpload" class="button">Upload File</label>
              <input type="file" id="exampleFileUpload" class="show-for-sr">
            </div>
            <p class="card-user-profile-name">
                <div class="form-floating-label">
                  <input type="email" id="email" name="email" required>
                  <label for="email">
                    {{#if name}}
                      {{name}}
                    {{else}}
                      Name
                    {{/if}}
                  </label>
                </div>
            </p>
            <p class="card-user-profile-status">
                <div class="form-floating-label">
                    {{#if name}}
                      <textarea data-tooltip aria-haspopup="true" class="has-tip" data-disable-hover="false" tabindex="1" title="{{description}}" data-alignment="bottom">
                      </textarea>
                    {{else}}
                        
                      {{!-- 
                        <textarea data-tooltip aria-haspopup="true" class="has-tip" data-disable-hover="false" tabindex="1" title="The Yeti, once better known as the Abominable Snowman, is a mysterious bipedal creature said to live in the mountains of Asia. It sometimes leaves tracks in snow, but is also said to dwell below the Himalayan snow line." data-position="bottom" data-alignment="bottom">

                      <textarea name="" id="" rows="5" placeholder=""></textarea>
                      <label for="textarea">The Yeti, once better known as the Abominable Snowman, is a mysterious bipedal creature said to live in the mountains of Asia. It sometimes leaves tracks in snow, but is also said to dwell below the Himalayan snow line.</label> --}}
                    {{/if}}
                </div>
            </p>
          </div>
          {{!-- Submit / Edit --}}
          <div class="card-user-profile-actions">
              <select class="card-user-profile-button button hollow secondary">
                <option class="button" value="husker">Groom</option>
                <option class="button" value="starbuck">Bride</option>
                <option class="button" value="hotdog">Partner</option>
              </select>
          </div>         
          <div class="card-user-profile-actions">
            <a href="#" class="card-user-profile-button button hollow">Edit</a>
          </div>
      </div>
    </form>

{{/if}}


</div>

