<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Foundation for Sites</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    {{#if assets}}
      <link rel="icon" href="{{assets}}img/favicon.ico">
      <link rel="stylesheet" href="{{assets}}css/admin.css">
      {{else}}
      <link rel="icon" href="public/assets/img/favicon.ico">
      <link rel="stylesheet" href="./public/assets/css/admin.css">
    {{/if}}
   
  </head>
  <body>

<style>
  .fa{ color: #fff;}
  .app-dashboard-sidebar-item span{ color: #fff;}
  .bride_groom{
    width: 12px;
    padding-right: 20px;
  }
</style>
    {{!-- {{>topbar-data}} --}}
<div class="app-dashboard shrink-medium">
  <div class="row expanded app-dashboard-top-nav-bar">
    <div class="columns medium-2">
      <button data-toggle="app-dashboard-sidebar" class="menu-icon hide-for-medium"></button>
      <a class="app-dashboard-logo">Wedding</a>
    </div>
    <div class="columns show-for-medium">
      <div class="app-dashboard-search-bar-container">
        <input class="app-dashboard-search" type="search" placeholder="Search">
        <i class="app-dashboard-search-icon fa fa-search"></i>
      </div>
    </div>
    <div class="columns shrink app-dashboard-top-bar-actions">
      <a href="/logout"  alt="">
      <button href="/logout" class="button hollow">Logout</button>
        {{!-- <i class="fa fa-info-circle"></i> --}}
      </a>
    </div>
  </div>

  <div class="app-dashboard-body off-canvas-wrapper">
    <div id="app-dashboard-sidebar" class="app-dashboard-sidebar position-left off-canvas off-canvas-absolute reveal-for-medium" data-off-canvas>
      <div class="app-dashboard-sidebar-title-area">
        <div class="app-dashboard-close-sidebar">
          <h3 class="app-dashboard-sidebar-block-title">Edit Wedding Details</h3>
          <!-- Close button -->
          <button id="close-sidebar" data-app-dashboard-toggle-shrink class="app-dashboard-sidebar-close-button show-for-medium" aria-label="Close menu" type="button">
            <span aria-hidden="true"><a href="#"><i class="large fa fa-angle-double-left"></i></a></span>
          </button>
        </div>
        <div class="app-dashboard-open-sidebar">
          <button id="open-sidebar" data-app-dashboard-toggle-shrink class="app-dashboard-open-sidebar-button show-for-medium" aria-label="open menu" type="button">
            <span aria-hidden="true"><a href="#"><i class="large fa fa-angle-double-right"></i></a></span>
          </button>
        </div>
      </div>
      <div class="app-dashboard-sidebar-inner">

        <ul class="menu vertical">
          <li><a href="/admin" class=" app-dashboard-sidebar-item">
             <i class="large fa fa-home"></i>
             <span class="app-dashboard-sidebar-text">Home</span>
          </a></li>
        {{!-- Family --}}
          <ul class="vertical menu accordion-menu app-dashboard-sidebar-item" data-accordion-menu><li>
            <a href="#" class="is-active">
              <i class="large fa fa-group"></i>
              <span class="app-dashboard-sidebar-text">Family</span>
            </a>
            <ul class="menu vertical nested app-dashboard-sidebar-text">
            {{!-- Bride and Groom --}}
              <li><a href="/admin/couple" class=" app-dashboard-sidebar-item">
                 <i class="large fa fa-female"></i>
                 <i class="large fa fa-male"></i>
                 <span class="app-dashboard-sidebar-text">Couple</span>
              </a></li>
              <li class="app-dashboard-sidebar-text"><a href="/admin/family/groom">Groom's Family</a></li>
              <li class="app-dashboard-sidebar-text"><a href="/admin/family/bride">Bride's Family</a></li>

            {{!-- Bridesmaid --}}
              <li><a href="/admin/bridesmaid" class=" app-dashboard-sidebar-item">
                 <i class="large fa fa-female"></i>
                 <span class="app-dashboard-sidebar-text">Bridesmaid</span>
              </a></li>
            {{!-- Groomsmen --}}
              <li><a href="/admin/groomsmen" class=" app-dashboard-sidebar-item">
                 <i class="large fa fa-male"></i>
                 <span class="app-dashboard-sidebar-text">Groomsmen</span>
              </a></li>

            </ul>
          </li></ul>
        {{!-- Gallery --}}
          <li><a href="/admin/slideshow" class=" app-dashboard-sidebar-item">
             <i class="large fa fa-photo"></i>
             <span class="app-dashboard-sidebar-text">Slideshow</span>
          </a></li>
        {{!-- RSVP's --}}
          <li><a href="/admin" class=" app-dashboard-sidebar-item">
             <i class="large fa fa-envelope-open"></i>
             <span class="app-dashboard-sidebar-text">RSVP's</span>
          </a></li>

        {{!-- Story --}}
          <li><a href="/admin/timeline" class=" app-dashboard-sidebar-item">
             <i class="large fa fa-heart"></i>
             <span class="app-dashboard-sidebar-text">Our Story</span>
          </a></li>

          {{!-- <li><a href="/admin/family/groom" class=" app-dashboard-sidebar-item">
             <i class="large fa fa-group"></i>
             <span class="app-dashboard-sidebar-text">Family</span>
          </a></li> --}}
        {{!-- Gallery --}}
          <li><a href="/admin/gallery" class=" app-dashboard-sidebar-item">
             <i class="large fa fa-photo"></i>
             <span class="app-dashboard-sidebar-text">Gallery</span>
          </a></li>
        {{!-- Events --}}
          <li><a href="/admin/events" class=" app-dashboard-sidebar-item">
             <i class="large fa fa-group"></i>
             <span class="app-dashboard-sidebar-text">Events</span>
          </a></li>


        {{!-- Blog --}}
          {{!-- In a CMS, the routes should be something like:
                /admin/edit/:post
          <ul class="vertical menu accordion-menu" data-accordion-menu><li>
            <a href="#" class="is-active">
              <i class="large fa fa-files-o"></i>
              <span class="app-dashboard-sidebar-text">Blog</span>
            </a>
            <ul class="menu vertical nested">
              <li><a href="/admin/posts">Create Post</a></li>
              <li><a href="/blog">Views Posts</a></li>
            </ul>
          </li></ul>
           --}}

        {{!-- Settings --}}
          <li><a href="/admin/settings" class=" app-dashboard-sidebar-item">
            <i class="large fa fa-cog "></i>
            <span class="app-dashboard-sidebar-text">Settings</span>
          </a></li>
        {{!--  --}}
        </ul>
      </div>
    </div>

    <div class="app-dashboard-body-content off-canvas-content" data-off-canvas-content>
      {{>errors}}
      {{{body}}}


    </div>
  </div>
</div>


   {{#if assets}}
      <script src="{{assets}}js/app.js"></script>
      {{else}}
      <script src="./public/assets/js/app.js"></script>
    {{/if}}
	
  </body>
</html>